{% extends 'base.html' %}
{% block content %}
    <section>
    {% for tweet in tweets %}
        <hr>
        <hr>
        <div>
        <p>@{{ tweet.user }}
        <p>{{ tweet.message }}<p>
        </p>
        <p><hr></p>
        Komentarze
        {% for coment in tweet.comment_set.all %}
        <p>@{{ coment.user }}</p>
        <p>{{ coment.message }}</p>
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            {{ add_comment }}
            <input type="hidden" value="{{ tweet.id }}" name="tweet_name">
            <input type="submit" value="Skomentuj">
        </form>
        </div>
    {% endfor %}
    </section>
{% endblock %}