{% extends 'base.html' %}
{% block content %}
    <h1>Received</h1>
    <h3><a href="/received/">Received  |</a><a href="/sent/">   Sent  |</a><a href="/send_message/">   New Message |</a></h3>
    <div style="border-style: dot-dash; border-width: 4px; color: #4f4f4f">
        {% for message in received %}
            <p style="border: #4f4f4f">Sender:{{ message.sender }}, Receiver: {{ message.receiver }}</p>
            <p>{{ message.text }}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}