{% extends 'base.html' %}
{% block content %}
    <section>
        {% for tweet in tweets %}
            <hr>
            <hr>
            <div>
                <p>@{{ tweet.user }}
                <p>{{ tweet.message }}<p>
                <input type="hidden" value="{{ tweet }}" name="tweet_name">
                <a href="/delete_tweet/{{ tweet.id }}/">Delete</a>
            </p>
                <p>
                <hr>
                Komentarze
                {% for coment in tweet.comment_set.all %}
                    <p>@{{ coment.user }}</p>
                    <p>{{ coment.message }}</p>
                {% endfor %}
                <form action="/add_comment/" method="post">
                    {% csrf_token %}
                    <input type="text" name="message">
                    <input type="hidden" value="{{ user.id }}" name="user">
                    <input type="hidden" value="{{ tweet.id }}" name="tweet">
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <input type="submit" value="Comment">
                </form>
            </div>
        {% endfor %}
    </section>
{% endblock %}